In [10]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl (10.8 MB)
     --------------------------------------- 10.8/10.8 MB 73.0 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ------------------------------------- 527.0/527.0 kB 32.3 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
pip show mysql-connector-python

Name: mysql-connector-python
Version: 8.1.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: c:\Users\Ma\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: protobuf
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip list

In [3]:
import mysql.connector as connector
connection=connector.connect(user="root",password="1234",host='127.0.0.1',port=3306)

In [4]:
cursor = connection.cursor()

In [5]:
print('Create database little_lemon_db')
cursor.execute("CREATE DATABASE little_lemon_db")

Create database little_lemon_db

In [6]:
print('change to little_lemon_db')
cursor.execute("USE little_lemon_db")

change to little_lemon_db

In [10]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [11]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [12]:
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [13]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [14]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [16]:
print('create menuitem table....')
cursor.execute(create_menuitem_table)

# Create Menu table
print('create menu table.....')
cursor.execute(create_menu_table)

# Create Bookings table
print('create booking table.....')
cursor.execute(create_booking_table)

# Create Orders table
print('create orders table.....')
cursor.execute(create_orders_table)

# Create Employees table
print('create employees table.....')
cursor.execute(create_employees_table)

create menuitem table....
create menu table.....
create booking table.....
create orders table.....
create employees table.....

In [20]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) 
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [21]:
# Populate MenuItems table
print('insert into menuitems table')
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
print('insert into menu table')
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
print('insert into bookings table')
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
print('insert into orders table')
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
print('insert into employees table')
cursor.execute(insert_employees)
connection.commit()

insert into menuitems table
insert into menu table
insert into bookings table
insert into orders table
insert into employees table

Task 1: Establish a connection 
Step one: Import MySQLConnectionPool
Step two: Import Error
Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors. 
    Your database configurations are as follows:
    dbconfig={"database":"little_lemon_db", "user":"your_username", "password":"your_password"}
Step four: Obtain a connection from pool_a and create a cursor object to communicate with the database.

In [5]:
# Step one: Import MySQLConnectionPool
# Step two: Import Error
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors. 
#     Your database configurations are as follows:
#     dbconfig={"database":"little_lemon_db", "user":"your_username", "password":"your_password"}
dbconfig={"database":"little_lemon_db", "user":"root", "password":"1234"}
try:
    pool = MySQLConnectionPool(pool_name = "pool_a",pool_size = 2,**dbconfig)
except Error as error:
    print('Error:', error.msg)

# Step four: Obtain a connection from pool_a and create a cursor object to communicate with the database.

guest_connected = pool.get_connection()
if guest_connected.is_connected():
    cursor=guest_connected.cursor()
print('Connection from pool is up')

Connection from pool is up

Task 2: Implement a stored procedure called PeakHours
Step one: Write a SQL CREATE PROCEDURE query for PeakHours
    Use HOUR to extract the hour part from the BookingSlot.
    Use COUNT on hour to count the number of bookings.
    Use GROUP BY on booking hour.
    Use ORDER BY on the number of bookings in descending order.
Step two: Run the stored procedure query by invoking execute module on the cursor.
Step three: Invoke callproc to call the stored procedure.
Step four: Fetch the results in a variable called dataset.
Step five: Extract the names of the columns.
Step six: Print the names of the columns.
Step seven: Print the sorted data using for loop.

In [12]:
# Step one: Write a SQL CREATE PROCEDURE query for PeakHours
#     Use HOUR to extract the hour part from the BookingSlot.
#     Use COUNT on hour to count the number of bookings.
#     Use GROUP BY on booking hour.
#     Use ORDER BY on the number of bookings in descending order.
peakhour_procedure="""
CREATE PROCEDURE PeakHours()
BEGIN
SELECT HOUR(BookingSlot) AS Hour, COUNT(BookingID) AS number_of_bookings_on_hour
FROM Bookings
GROUP BY Hour
ORDER BY number_of_bookings_on_hour DESC;
END 
"""

In [17]:
# Step two: Run the stored procedure query by invoking execute module on the cursor.
cursor.execute(peakhour_procedure)
# cursor.execute("""DROP procedure PeakHours;""")

In [18]:
# Step three: Invoke callproc to call the stored procedure.
cursor.callproc('PeakHours')

()

In [19]:
# Step four: Fetch the results in a variable called dataset.
results = next(cursor.stored_results())
dataset=results.fetchall()

In [23]:
# Step five: Extract the names of the columns.
# Step six: Print the names of the columns.
# Step seven: Print the sorted data using for loop.
print(results.column_names)
for row in dataset:
    print(row)

('Hour', 'number_of_bookings_on_hour')
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

Task 3: Implement a stored procedure GuestStatus
Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.
Step two: Combine the guest’s first and last name from the booking column using CONCAT. 
Step three: Use CASE to implement the following statuses for each guest’s order:
    If the Role in the Employee table is Manager or Assistant Manager then the guest’s order status is Ready to pay
    If the Role in the Employee table is Head Chef then the status is Ready to serve
    If the Role in the Employee table is Assistant Chef then the status is Preparing Order
    If the Role in the Employee table is Head Waiter then the status is Order served
Step four: LEFT JOIN Bookings table with Employees ON EmployeeID
Step five: Run the stored procedure query by invoking execute module on the cursor.
Step six: Invoke callproc to call the stored procedure.
Step seven: Fetch the results in a variable called dataset.
Step eight: Extract the names of the columns.
Step nine: Print the names of the columns.
Step ten: Print the sorted data using for loop.
Step eleven: Close the connection to return it back to the pool.

In [42]:
# Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.
# Step two: Combine the guest’s first and last name from the booking column using CONCAT. 
# Step three: Use CASE to implement the following statuses for each guest’s order:
#     If the Role in the Employee table is Manager or Assistant Manager then the guest’s order status is Ready to pay
#     If the Role in the Employee table is Head Chef then the status is Ready to serve
#     If the Role in the Employee table is Assistant Chef then the status is Preparing Order
#     If the Role in the Employee table is Head Waiter then the status is Order served
# Step four: LEFT JOIN Bookings table with Employees ON EmployeeID
gueststatus_procedure="""
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName,
CASE
    WHEN Role = 'Manager' or Role = 'Assistant Manager' THEN 'Ready to pay'
    WHEN Role = 'Head Chef' THEN 'Ready to serve'
    WHEN Role = 'Assistant Chef' THEN 'Preparing Order'
    WHEN Role = 'Head Waiter' THEN 'Order served'
    ELSE 'NA'
END AS STATUS
FROM Bookings 
LEFT JOIN Employees
ON Bookings.EmployeeID = Employees.EmployeeID;
END
"""

In [43]:
# Step five: Run the stored procedure query by invoking execute module on the cursor.
cursor.execute(gueststatus_procedure)

In [44]:
#Step six: Invoke callproc to call the stored procedure. 
cursor.callproc('GuestStatus')

()

In [45]:
# Step seven: Fetch the results in a variable called dataset.
# Step eight: Extract the names of the columns.
# Step nine: Print the names of the columns.
# Step ten: Print the sorted data using for loop.
dataset=next(cursor.stored_results()).fetchall()
print(next(cursor.stored_results()).column_names)
for row in dataset:
    print(row)

('GuestName', 'STATUS')
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [47]:
# Step eleven: Close the connection to return it back to the pool.
guest_connected.close()

Little Lemon analysis and sales report

Task 1:
Complete the following steps to establish a connection pool:

To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.

To find the information on the error, import the Error class from MySQL Connector/Python.

Define your database configurations as a Python dictionary object called dbconfig.

Establish a connection pool [pool_name = pool_b] with two connections. 

Implement error handling using a try-except block in case the connection fails.

In [48]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors. 
#     Your database configurations are as follows:
#     dbconfig={"database":"little_lemon_db", "user":"your_username", "password":"your_password"}
dbconfig={"database":"little_lemon_db", "user":"root", "password":"1234"}
try:
    pool = MySQLConnectionPool(pool_name = "pool_b",pool_size = 2,**dbconfig)
except Error as error:
    print('Error:', error.msg)

Task 2:
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:
    TIP: You need to add a connection to connect the third guest.
Guest 1:
Table Number: 8
First Name: Anees
Last Name: Java
Booking Time: 18:00
EmployeeID: 6

Guest 2:
Table Number: 5
First Name: Bald
Last Name: Vin
Booking Time: 19:00
EmployeeID: 6

Guest 3:
Table Number: 12
First Name: Jay
Last Name: Kon
Booking Time: 19:30 
EmployeeID: 6

Return all the connections back to the pool. 
    TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.

In [50]:
from mysql.connector.pooling import PoolError
guests=guests={'Guest1':"""INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)VALUES(8,'Anees','Java','18:00:00',6);""",
               'Guest2':"""INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)VALUES(5, 'Bald','Vin','19:00:00',6);""",
               'Guest3':"""INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)VALUES(12, 'Jay','Kon','19:30:00',6);"""}

for guest in guests:
    try:
        connection=pool.get_connection()
        cursor=connection.cursor()
        cursor.execute(guests[guest])
        connection.commit()
        print('Booking added successfully to Bookings table.\n')
    except PoolError as error:
        print('Error:', error.msg)
        print('Adding new connection in pool...')
        connection=connector.connect(user="root",password="1234")
        pool.add_connection(cnx=connection)
        print("A new connection is added in the pool.")
        connection=pool.get_connection()
        cursor=connection.cursor()
        cursor.execute(guests[guest])
        connection.commit()
        print('Booking added successfully to Bookings table')

Booking added successfully to Bookings table
Booking added successfully to Bookings table
Error: Failed getting connection; pool exhausted
Adding new connection in pool...
A new connection is added in the pool.

Booking added successfully to Bookings table

In [58]:
# connection.close()
for guest in guests:
    try:
        connection=pool.get_connection()
        connection.close()
    except PoolError as error:
        print('Error: ', error.msg)

Task 3:
Create a report containing the following information:
The name and EmployeeID of the Little Lemon manager.
The name and role of the employee who receives the highest salary.
The number of guests booked between 18:00 and 20:00.
The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [106]:
connection = pool.get_connection()
cursor=connection.cursor()

In [63]:
r1 = """
SELECT Name, EmployeeID 
FROM Employees
WHERE Role = 'Manager';
"""
cursor.execute(r1)
results=cursor.fetchall()

print('The name and EmployeeID of the Little Lemon manager\n',cursor.column_names)
for row in results:
    print(row,'\n')

r2 = """
SELECT Name, Role
FROM Employees
WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees);
"""
cursor.execute(r2)
results=cursor.fetchall()
print('The name and role of the employee who receives the highest salary.\n',cursor.column_names)
for row in results:
    print(row,'\n')

r3 = """
SELECT COUNT(BookingID) AS number_of_guests
FROM Bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""
cursor.execute(r3)
results=cursor.fetchall()
print('The number of guests booked between 18:00 and 20:00\n',cursor.column_names)
for row in results:
    print(row,'\n')

r4="""
SELECT CONCAT(GuestFirstName, " ", GuestLastName) AS GuestName, BookingID
FROM Bookings
LEFT JOIN Employees 
ON Employees.EmployeeID = Bookings.EmployeeID
WHERE Role = "Receptionist"
ORDER BY BookingSlot DESC;
"""
cursor.execute(r4)
results=cursor.fetchall()
print('guests waiting to be seated with the receptionist\n',cursor.column_names)
for row in results:
    print(row)

The name and EmployeeID of the Little Lemon manager
 ('Name', 'EmployeeID')
('Mario Gollini', 1)

The name and role of the employee who receives the highest salary.
 ('Name', 'Role')
('Mario Gollini', 'Manager')

The number of guests booked between 18:00 and 20:00
 ('number_of_guests',)
(7,)

guests waiting to be seated with the receptionist
 ('GuestName', 'BookingID')
('Jay Kon', 9)
('Bald Vin', 8)
('Anees Java', 7)

Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics: 
Total sales
Average sale
Minimum bill paid
Maximum bill paid

In [75]:
basicSalesReport_procedure="""
CREATE PROCEDURE BasicSalesReport()
BEGIN
SELECT SUM(BillAmount) AS Total_sales,
ROUND(AVG(BillAmount),2) AS Average_sale,
ROUND(MIN(BillAmount),2) AS Minimum_bill_paid,
ROUND(MAX(BillAmount),2) AS Maximum_bill_paid
FROM Orders;
END
"""

In [77]:
cursor.execute(basicSalesReport_procedure)
# cursor.execute("""DROP procedure BasicSalesReport;""")

In [104]:
cursor.callproc('BasicSalesReport')
dataset = next(cursor.stored_results()).fetchall()

results=cursor.stored_results()
for column_id in results:
    for i in range(len(column_id.description)):
        print(column_id.description[i][0], ':' ,dataset[0][i])

Total_sales : 243
Average_sale : 48.60
Minimum_bill_paid : 37
Maximum_bill_paid : 86

In [107]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:
Get a connection from the pool.
Create a buffered cursor.
Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 
Returned the connection back to the pool.
The output should be as follows:
    [BookingSlot]
    [Guest_name]
    [Assigned to: Employee Name [Employee Role]]

In [108]:
connection = pool.get_connection()
cursor = connection.cursor(buffered=True)

In [133]:
upcoming_booking_query="""
SELECT Bookings.BookingSlot, CONCAT(GuestFirstName, " ", GuestLastName) AS Guest_name, CONCAT(Employees.Name," [", Employees.Role,"]") AS Assigned_to
FROM Bookings
INNER JOIN Employees
ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY Bookings.BookingSlot;
"""

In [146]:
cursor.execute(upcoming_booking_query)
results = cursor.fetchmany(size=3)

for result in results:
    print("[BookingSlot] :", result[0])
    print("[Guest_name] :", result[1])
    print("[Assigned to :", result[2],']\n')

[BookingSlot] : 15:00:00
[Guest_name] : Vanessa McCarthy
[Assigned to : Giorgos Dioudis [Head Chef] ]

[BookingSlot] : 17:30:00
[Guest_name] : Marcos Romero
[Assigned to : Fatma Kaya [Assistant Chef] ]

[BookingSlot] : 18:00:00
[Guest_name] : Anees Java
[Assigned to : John Millar [Receptionist] ]

In [147]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.